---
swagger: "2.0"
info:
  description: "A simple API to learn how to write OpenAPI Specification"
  version: "1.0.0"
  title: "Simple API"
host: "simple.api#到时候再改"
basePath: "/openapi101#到时候再改"
schemes:
- "https"
paths:
  /landing:
    post:
      summary: "login"
      description: "学生登录."
      operationId: "landingPOST"
      parameters:
      - in: "body"
        name: "student"
        description: "The student to create."
        required: false
        schema:
          $ref: "#/definitions/student"
      responses:
        204:
          description: "Student succesfully created."
        400:
          description: "Student couldn't have been created."
      x-swagger-router-controller: "Default"
  /get_grade:
    get:
      summary: "Gets experiment grade"
      description: "Returns grade"
      operationId: "get_gradeGET"
      parameters: []
      responses:
        200:
          description: "grade"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/inline_response_200"
        404:
          description: "The Experiment does not exists."
      x-swagger-router-controller: "Default"
  /get_report:
    get:
      summary: "Gets experiment report"
      description: "Returns report"
      operationId: "get_reportGET"
      parameters: []
      responses:
        200:
          description: "report"
        404:
          description: "The Experiment does not exists."
      x-swagger-router-controller: "Default"
definitions:
  student:
    properties:
      id:
        type: "string"
      password:
        type: "string"
  inline_response_200:
    properties:
      experimentScore:
        type: "string"
    example:
      experimentScore: "experimentScore"
